html, body{margin: 0; height: 100%; overflow: hidden;}
body{display: unset !important;}
img{max-width: 100%;}
*{box-sizing: border-box; font-family: monospace;}
div{padding: 8px;}
a{color: #0047cc;}
.no-pad{padding: 0;}
.no-x-pad{padding-left: 0; padding-right: 0;}
.no-y-pad{padding-top: 0; padding-bottom: 0;}
.hidden{display: none;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}

#mobile-header-div{display: none;}

#overlay{
    display: none;
    background-color: gray;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.7;
}
#left-side-menu-div{
    position: fixed;
    width: 225px;
    height: 100%;
    border-right: 1px lightgray dashed;
    background-color: aliceblue;
    text-align: center;
    z-index: 101;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
}
img#avatar-img{
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}
.left-menu-outer-wrap{
    overflow-y: auto;
    height: calc(100% - 230px);
    padding: 0 6px;
}
.left-menu-subgroup{
    padding: 0;
    margin-top: 20px;
}
.left-menu-subgroup:first-child{
    margin-top: 5px;
}
.left-menu-subgroup-title{
    padding: 0 0 0 9px;
    text-align: left;
}
.left-menu-subgroup > ul{
    margin: 5px 0 0 0;
    padding-left: 27px;
}
.left-menu-subgroup > ul > li{
    text-align: left;
}
.left-menu-subgroup ul li a.active{
    background-color: cyan;
}

#left-side-menu-footer{
    font-size: 10px;
    margin-top: 20px;
}

#tips-div {
    position: absolute;
    left: 225px;
    font-size: 10px;
    padding: 3px 6px;
    background-color: antiquewhite;
}

#right-content-div{
    float: right;
    width: calc(100% - 225px);
    height: 100%;
    overflow-y: auto;
    background-color: snow;
}

#right-content-div > div > div.printf-div{
    border-bottom: 1px #FFC107 dashed;
    overflow-x: auto;
}
#right-content-div pre{
    background-color: whitesmoke;
    padding: 10px 16px;
    margin: 4px 0;
}
#right-content-div > div > div.printf-div span.time-dif-span{
    background-color: #CDDC39;
    font-size: 11px;
    display: inline-block;
    margin-top: 4px;
}
#right-content-div > div > div.printf-div span.time-dif-span span.time-dif-inner-span{
    color: mediumblue;
}

#right-content-div > div.module-load-error-msg {
    color: red;
    text-align: center;
    margin-top: 20px;
}