html, body{margin: 0; height: 100%; overflow: hidden; display: unset !important;}
img{max-width: 100%;}
*{box-sizing: border-box; font-family: monospace;}
div{padding: 8px;}
.hidden{display: none;}

#left-side-menu-div{
    float: left;
    width: 200px;
    height: 100%;
    border-right: 1px lightgray dashed;
    background-color: aliceblue;
    text-align: center;
    overflow-y: auto;
}
img#avatar-img{
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
}
.left-menu-subgroup{
    padding: 0;
    margin-top: 20px;
}
.left-menu-subgroup-title{
    padding: 0 0 0 9px;
    text-align: left;
}
.left-menu-subgroup > ul{
    margin: 5px 0 0 0;
    padding-left: 27px;
}
.left-menu-subgroup > ul > li{
    text-align: left;
}

#tips-div {
    position: absolute;
    left: 200px;
    font-size: 10px;
    padding: 3px 6px;
}

#right-content-div{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}