@media screen and (max-width: 550px) {
    html, body {
        overflow: unset;
        overscroll-behavior-y: contain; /* to prevent refresh on pull down */
    }
    body {
        overflow-x: hidden;
    }
    #mobile-header-div{
        display: block;
        padding: 5px;
        height: 42px;
        background-color: aliceblue;
        border-bottom: 1px #CDDC39 dashed;
        position: fixed;
        width: 100%;
        z-index: 99;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
    #mobile-header-div:after{
        content: '';
        clear: both;
    }
    img#avatar-img-mobile{
        width: 32px;
        border-radius: 16px;
        margin: 0 1px 0 3px;
    }
    #btn-mobile-menu-toggler{
        position: fixed;
        top: 0;
        right: 0;
        margin: 2px;
        padding: 10px 12px;
        border-left: 1px #8BC34A dashed;
        background-color: aliceblue;
        cursor: pointer;
        user-select: none;
    }
    #left-side-menu-div{
        position: fixed;
        left: -225px;
        top: 0;
        transition: left .2s ease-out;
    }
    body.side-menu-open{overflow: hidden;}
    body.side-menu-open #left-side-menu-div{
        left: 0;
    }
    body.side-menu-open #overlay{display: block;}
    #tips-div{
        left: 0;
        top: 42px;
    }
    #right-content-div{
        width: 100%;
        height: unset;
        padding: 48px 2px 8px 2px;
        overflow-y: unset;
        min-height: 100%;
    }
}