#right-content-div > div {
}
#right-content-div div{padding: unset;}
div#game-root{
    min-width: 320px;
    margin: 0 auto;
}
div#desc-root{
    margin-bottom: 20px;
    font-size: 10px;
}
div#custom-level-config-root{
    display: none;
    border: 1px gray dashed;
    padding: 7px 5px;
    margin: 11px 0;
    border-radius: 4px;
}
div#matrix-root{
    margin-top: 10px;
}
.matrix-row{
    overflow: hidden;
    margin: 0 auto;
}
.matrix-row::after{
    clear: both;
    content: ' ';
}
.matrix-row .matrix-col{
    float: left;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px #9C27B0 dotted;
    text-align: center;
    line-height: 38px;
    border-radius: 8px;
}
.matrix-row .matrix-col.selected{
    background-color: #8BC34A;
}
.matrix-row .matrix-col.danger{
    background-color: #F44336;
}
.matrix-row .matrix-col.selected.danger{
    background-color: yellow;
}
div#console-root{
    height: 125px;
    margin: 0 auto 0 auto;
    overflow-y: auto;
    font-family: Tahoma;
    font-size: 13px;
    border: 1px gray dashed;
    border-radius: 6px;
}
div#mobile-controller-root{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 225px;
    padding-top: 20px;
    background-color: #FFC107;
    opacity: .75;
}
div#mobile-controller-root .movement-button{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 84px;
    font-size: 30px;
    text-decoration: none;
    background-color: bisque;
    border-radius: 20px;
    font-weight: bold;
    user-select: none;
    color: darkgreen;
}
div#mobile-controller-root .movement-button.active{
    background-color: #cbceff;
}
div#mobile-controller-root .movement-button[direction=up]{
    margin-left: 110px;
    margin-bottom: 25px;
}
div#mobile-controller-root .movement-button[direction=left]{
}
div#mobile-controller-root .movement-button[direction=down]{
    margin-left: 30px;
}
div#mobile-controller-root .movement-button[direction=right]{
    margin-left: 30px;
}